
th {  
    background: #DFDFDF;  
    font-weight: bold;
}
td, th {  
    border: 1px solid #888888;
    height: 30px;
}
table {  
    background: -webkit-repeating-linear-gradient();
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%; 
    border-spacing: 0; 
}
td {  
    background: -webkit-repeating-linear-gradient();
    text-align: left;
}
#footrow{
    text-align: center;
}