#p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

body {
    background-color: beige;
}

.map {
    position: relative;
}

#frame {
    display: block;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    border: 0;
}