span{
    background-color: aquamarine;
    color: sienna;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#secondSpan{
    background-color: greenyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}
#thirdSpan{
    background-color: fuchsia;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}