table,
th,
td {
    border: 1px solid black;
    text-align: left;
}

table {
    border-collapse: collapse;
    background-color: white;
    color: white;
}

body {
    background-image: url("http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1475688090/airplane-contrails-PLANESCRTS1005.jpg?itok=rrYr66GT");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}