.gridcontainer {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 20px;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

body {
    background-color: darkgray;
}

img {
    /* width: 100%; */
    overflow: hidden;
    height: 250px;
    width: 250px;
}