table,
th,
td {
    border: 1px solid black;
    text-align: left;
    color:white;
    border-color:white;
}

table {
    border-collapse: collapse;
}
.buttonWrap{
    text-align: center;
}
.button {
    position: absolute;
    top: 50%;
}
body {
    background-image: url("https://gdb.voanews.com/E78D65FD-FD13-4D0D-A73C-3A6EA5789165_cx0_cy10_cw0_w1023_r1_s.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
img{
    opacity: 0.5;
}