#rgb1 {
    background-color: rgba(43, 255, 0, 0.1);
}

#rgb2 {
    background-color: rgba(43, 255, 0, 0.2);
}

#rgb3 {
    background-color: rgba(43, 255, 0, 0.3);
}

#rgb4 {
    background-color: rgba(43, 255, 0, 0.4);
}

#rgb5 {
    background-color: rgba(43, 255, 0, 0.5);
}

#rgb6 {
    background-color: rgba(43, 255, 0, 0.6);
}

#rgb7 {
    background-color: rgba(43, 255, 0, 0.7);
}

#rgb8 {
    background-color: rgba(43, 255, 0, 0.8);
}

#rgb9 {
    background-color: rgba(43, 255, 0, 0.9);
}

#hsl1 {
    background-color: hsla(337, 96%, 52%, 0.1);
}

#hsl2 {
    background-color: hsla(337, 96%, 52%, 0.2);
}

#hsl3 {
    background-color: hsla(337, 96%, 52%, 0.3);
}

#hsl4 {
    background-color: hsla(337, 96%, 52%, 0.4);
}

#hsl5 {
    background-color: hsla(337, 96%, 52%, 0.5);
}

#hsl6 {
    background-color: hsla(337, 96%, 52%, 0.6);
}

#hsl7 {
    background-color: hsla(337, 96%, 52%, 0.7);
}

#hsl8 {
    background-color: hsla(337, 96%, 52%, 0.8);
}

#hsl9 {
    background-color: hsla(337, 96%, 52%, 0.9);
}

table {
    border-collapse: collapse;
    width: 70%;
}

td,
th {
    border: 3px solid #140909;
    height: 50px;
}