.white_stripe {
    background-color: white;
    width: 550px;
    height: 30px;
}

.red_stripe {
    background-color: red;
    width: 550px;
    height: 30px;
}

#flag {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
}

#stars {
    color: white;
    letter-spacing: 10px;
    border-collapse: collapse;
}

#starcell {
    background-color: blue;
    padding: 10px;
}