body {
    background-color: black;
    margin: 20px auto;
}

.container {
    background-color: black;
    border: 10px solid #4b2e83;
    width: 1100px;
}

.panel {
    margin: 20px auto;
    width: 230px;
}

#uw {
    background-color: #4b2e83;
    color: white;
}

#uw-gold {
    background-color: #b7a57a;
    color: #4b2e83;
}

h3 {
    text-align: center;
}