html,
body {
    height: 100%;
    background-color: #1E1E1E;
}

.lead {
    color: white;
}

.featurette-heading {
    color: #D6A2E8;
}

hr {
    width: 96%;
    background-color: white;
}

.jumbotron2 {
    background-size: 100% 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    height: calc(100%);
    background-image: url("../media/jumboimg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Exo', sans-serif;
    overflow: hidden;
    position: relative;
}

.container-fluid {
    padding: 60px 50px;
    text-align: center;
    color: white;
}

* {
    box-sizing: border-box;
}

#projectsColumn {
    float: left;
    width: 33.33%;
    padding: 5px;
}


/* Clearfix (clear floats) */

#projectsRow::after {
    content: "";
    clear: both;
    display: table;
}

hr {
    color: white;
}

.col {
    text-align: center;
}


/* .imgHover .hover {
    display: none;
    position: absolute;
    z-index: 2;
} */

.footerclass p {
    color: white;
}

#icon {
    background-color: white;
    height: 40px;
    width: 40px;
    color: black;
    text-decoration: none;
    margin: 0 auto;
}

#footer {
    text-align: center;
    margin: 0 auto;
}

#footrow {
    text-align: center;
    margin: 0 auto;
}

.footerclass {
    width: 300px;
    margin: 0 auto;
}

footer {
    text-align: center;
}

footer p {
    color: white;
}